/* Standard syntax */
@keyframes bounce {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.4;
    left: 60px;
    top: -5px;
    font-size: 22px;
  }

  50% {
    opacity: 0.6;
    left: 40px;
    top: 0;
    font-size: 19px;
  }

  75% {
    opacity: 0.8;
    left: 20px;
    top: 10px;
    font-size: 15px;
  }

  100% {
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 15px;
    font-size: unset;
  }
}

/* For safari */
@keyframes bouncer {
  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* For safari */
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}

// repeat animation

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 4s steps(44) alternate-reverse infinite, blink 0.75s steps(22) infinite;
  white-space: nowrap;
  border-right: 4px solid orange;
  box-sizing: border-box;
}
    
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.animate{
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px rdba(0, 255, 0 , 0.75);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  animation: animated-text 4s steps(29,end) 1s 1 normal animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text {
  0%{
    width: 0;
  }
  to{
    width: 472px;
  }

}

@keyframes animated-cursor {
  from{
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to{
    border-right-color: transparent ;
  }
}

.add-fade-in {
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
