//this file is to define all the styling functions 

@mixin background{
    height: 100%; 
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 10%, black 100%);

}










