--root {
  --primary-color: #040404;
  --secondary-color: #04643b;
}

$bg-color-primary: #000000;
$tertiary-color: #8e8e8e;

$testing-variable: #999;
$font-size-primary: 1.4rem;
$font-color-primary: #FFFFFF;
$font-color-secondary: #04643b
