--root {
  --primary-color: #040404;
  --secondary-color: #04643b;
}

$bg-color-primary: #000000; //for the main background 
// $bg-color-primary:  radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
$bg-color-secondary: #04643b; // for the nav wording colour
$tertiary-color: #8e8e8e;
$tertiary-color-opacity: #8e8e8e80;

// For webkit scrollbar
$color-secondary: black;

$testing-variable: rgb(73, 200, 51);
$font-size-primary: 1.4rem;
$font-size-secondary: 20px;
$font-size-small: 14px;
$font-color-primary: #FFFFFF;
$font-color-secondary: #04643b;

// For responsive font size
$variable-font: calc(13px + 6 * ((100vw - 320px) / 680));
$variable-font-medium: calc(25px + 6 * ((100vw - 320px) / 680));
$variable-font-large: calc(35px + 6 * ((100vw - 320px) / 680));
$variable-font-small: calc(10px + 6 * ((100vw - 320px) / 680));

